<div class="top-bar">

</div>
<div 
  class="friends-tab" 
  [ngClass]="currentRoute.route === '/directmessages' ? 'current' : ''"
  (click)="redirectToFriends()">
  <mat-icon>people</mat-icon>
  Friends
</div>
<h6>DIRECT MESSAGES</h6>
<div *ngFor="let conversation of directConversations;">
  <div
    class="single-conversation" 
    [ngClass]="currentRoute.route.includes('conversation='+conversation.id) ? 'current' : ''"
    (click)="redirectToConversation(conversation.id)">
    <i class="fa-brands fa-discord" [ngClass]="true ? 'av-'+conversation.users[1].username[0].toLowerCase() : ''"></i>
    {{ conversation.users[1].username }}
  </div>
</div>