.top-bar {
    display: flex;
    position: relative;
    height: 42px;
    line-height: 43px;
    border-bottom: 1px solid #1F2023;
    box-shadow: 0 1px 5px -2px #1F2023;
    border-top-left-radius: 10px;
    padding-left: 20px;
    font-size: 14px;
    font-weight: 500;
    z-index: 1;
}

.title {
    margin-top: 10px;
    border-right: 1px solid #3F4147;
    height: 24px;
    line-height: 24px; 
    padding-right: 20px;
}

.all {
    margin-top: 10px;
    margin-left: 20px;
    height: 24px;
    line-height: 24px;
    padding-inline: 10px;
    border-radius: 5px;
    cursor: pointer;
    color: #989AA2;
}

    .all:hover {
        background-color: #3A3C42;
        color: #f3f4f5;
    }

    .all-current {
        background-color: #43444B;
        cursor: default;
        color: #f3f4f5;
    }

.add {
    margin-top: 10px;
    margin-left: 20px;
    background-color: #248046;
    height: 24px;
    white-space: nowrap;
    line-height: 24px;
    padding-inline: 10px;
    border-radius: 5px;
    cursor: pointer;
}

    .add-current {
        background-color: transparent;
        color: #36be68;
        cursor: default;
    }

mat-icon {
    margin-top: 10px;
    margin-right: 10px;
}

.input-container {
    position: relative;
    background-color: #1E1F22;
    margin: 10px 20px 10px 30px;
    height: 32px;
    border-radius: 5px;
    display: flex;
}

input {
    padding: 2px 0px 0px 10px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    outline: none;
    flex-grow: 1;
    height: 85%;
    color: #DCDDE1;
    z-index: 1;
}

input::placeholder {
    color: #8B8D95;
}

.search-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    margin: 0;
}

h6 {
    color: #989AA2;
    font-size: 12px;
    margin-left: 30px;
}

.single-friend {
    display: flex;
    border-top: 1px solid #3F4147;
    margin-left: 30px;
    margin-right: 30px;
    padding: 14px 0 14px 0;
    cursor: pointer;
}

    .single-friend:hover {
        background-color: #3F4147;
        border-radius: 8px;
        margin-left: 20px;
        padding-left: 10px;
        margin-right: 20px;
        padding-right: 10px;
    }

.user-avatar {
    color: #F3F4F5;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-right: 10px;
}

.user-name {
    width: 400px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 35px;
}

.message-icon {
    background-color: #2B2D31;
    margin-left: auto;
    margin-right: 10px;
    color: #B8B9BF;
    border-radius: 50%;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
}

    .message-icon:hover {
        color: #F3F4F5;
    }

.warn {
    color: #F23F42;
}

    .warn:hover {
        color: #b73a3c;
    }

.friend-view {
    margin-left: 30px;
}

    .friend-view .input-container {
        margin-left: 0;
        height: 50px;
        border-radius: 8px;
    }

    .friend-view input {
        margin-top: 2px;
    }

button {
    font-size: 12px;
    margin: 7px 10px 0 0;
}

.disabled {
    cursor: not-allowed!important;
    background-color: #454C94!important;
    color: #82858F!important;
}

.single-request {
    padding: 0 10px 10px 0px;
}

.request-avatar {
    color: #F3F4F5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-right: 8px;
    font-size: 22px;
}

.request-info::before {
    color: #B8B9BF;
    content: 'Incoming Friend Request';
    font-size: 13px;
    font-weight: 500;
}

.declined::before {
    color: #F23F42;
    content: 'Declined';
}

.accepted::before {
    color: #248046;
    content: 'Accepted';
}

.invalid-request {
    border: 1px solid #F23F42;
}

.invalid-request-message {
    color: #FA777C;
    font-size: 12px;
}

::ng-deep .dialog-container {
    .mat-mdc-dialog-container .mdc-dialog__surface {
        padding-inline: 0!important;
        padding-bottom: 0!important;
    }
        .mat-mdc-dialog-container .mdc-dialog__surface::-webkit-scrollbar {
            display: none;
        }
    .mat-mdc-dialog-container {
        --mdc-dialog-container-color: #313338!important;
        padding: 0!important;
    }
    .mat-mdc-radio-button.mat-accent {
        --mdc-radio-selected-focus-icon-color: #F3F4F5;
        --mdc-radio-selected-hover-icon-color: #F3F4F5;
        --mdc-radio-selected-icon-color: #F3F4F5;
        --mdc-radio-selected-pressed-icon-color: #F3F4F5;
        --mat-mdc-radio-checked-ripple-color: rgba(0,0,0,0);
    }
    mat-dialog-content {
        padding: 0!important;
    }
    .mdc-text-field {
        background-color: #232428!important;
    }
    .mat-mdc-input-element {
        color: #F3F4F6!important;
    }
    mat-label {
        color: #F3F4F6!important;
    }
    .mat-mdc-form-field-required-marker {
        display: none;
    }
    .mat-mdc-raised-button.mat-warn {
        --mdc-protected-button-container-color: #DA373C;
    }
    .mat-mdc-raised-button.mat-warn:hover {
        --mdc-protected-button-container-color: #A12828;
    }
}


