<div class="container" [formGroup]="channelForm">
  <mat-icon 
    class="close"
    mat-dialog-close>
    close
  </mat-icon>
  <h1>Create Channel</h1>
  <p>in {{ data.categoryName }} </p>
  <h2>CHANNEL TYPE</h2>
  <mat-radio-group formControlName="type">
    <div class="channel-type">
      <div class="hashtag">#</div>
      <div>
        <div class="type-title">Text</div>
        <div class="type-desc">
          Send messages, images, GIFs, emoji, opinions and puns
        </div>
      </div>
      <mat-radio-button 
        checked 
        [value]="channelType.Text">
      </mat-radio-button>
    </div>
    <div class="channel-type">
      <div class="hashtag">
        <i class="fa-solid fa-volume-high"></i>
      </div>
      <div>
        <div class="type-title">Voice</div>
        <div class="type-desc">
          Hang out together with voice, video and screen share
        </div>
      </div>
      <mat-radio-button [value]="channelType.Voice"></mat-radio-button>
    </div>
  </mat-radio-group>
  <h2>CHANNEL NAME</h2>
  <mat-dialog-content>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>#</mat-label>
      <input
        matInput
        matNativeControl
        formControlName="name"
        [errorStateMatcher]="matcher"/>
      <mat-error *ngIf="channelForm.controls.name.hasError('required')">
        Channel Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <div style="display: flex;">
      <h2>
        <i class="fa-solid fa-lock"></i>
        Private Channel
      </h2>
      <mat-slide-toggle
        color="primary"
        formControlName="isPrivate">
      </mat-slide-toggle>
    </div>
    <p>Only selected members and roles will be able to view this channel.</p>
  </mat-dialog-content>
</div>
<div class="bottom-actions">
  <div 
    class="cancel"
    mat-dialog-close>
    Cancel
  </div>
  <button
    mat-raised-button
    color="primary"
    class="submit-btn"
    [ngClass]="{'disabled' : !channelForm.value.name}"
    (click)="onSubmit()">
    Create Channel
  </button>
</div>
