<div [@fadeIn] *ngIf="isOpen" class="server-settings-container">
  <!-- SIDE MENU -->
  <div class="side-menu">
    <div *ngIf="user">
      <h5>USER SETTINGS</h5>
      <div 
        class="settings-option"
        [class.current-option]="currentView == View.MyAccount"
        (click)="currentView = View.MyAccount">
        My Account
      </div>
      <div 
        class="settings-option"
        [class.current-option]="currentView == View.Profiles"
        (click)="currentView = View.Profiles">
        Profiles
      </div>
      <mat-divider></mat-divider>
      <h5>APP SETTINGS</h5>
      <div 
        class="settings-option"
        [class.current-option]="currentView == View.VoiceAndVideo"
        (click)="currentView = View.VoiceAndVideo">
        Voice & Video
      </div>
      <div 
        class="settings-option"
        [class.current-option]="currentView == View.Notifications"
        (click)="currentView = View.Notifications">
        Notifications
      </div>
      <mat-divider></mat-divider>
      <div 
        class="settings-option"
        (click)="logout()">
        Log Out 
        <i class="fa-solid fa-arrow-right-from-bracket"
           style="margin-left: auto;"></i>
      </div>
    </div>
  </div>
  <div class="main-container">
    <div *ngIf="user">
      <h3>{{ currentView }}</h3>
      <!-- MY ACCOUNT VIEW -->
      <div *ngIf="currentView == View.MyAccount" class="view-container">
        <div class="user-details-container">
          <div class="bottom-section">
            <user-avatar 
              [userId]="user.id" 
              class="user-avatar"
              [username]="user.username"/>
            <div class="username">
              {{ user.username }}
            </div>
            <button 
              mat-raised-button
              color="primary"
              class="to-profile-btn">
              Edit User Profile
            </button>
            <div class="personal-data">
              <form *ngIf="userDetailsForm" [formGroup]="userDetailsForm">
                <div class="single-section">
                  <label>USERNAME</label>
                  <div class="data-value">
                    <div *ngIf="currentForm != Form.Username" class="wrapper">
                      {{ user.username }}
                    </div>
                    <input
                      *ngIf="currentForm == Form.Username"
                      class="details-input"
                      formControlName="username"
                      spellcheck="false"/>
                  </div>
                  <button 
                    *ngIf="currentForm != Form.Username"
                    class="action-btn"
                    (click)="editUsername()">Edit</button>
                  <i 
                    *ngIf="currentForm == Form.Username"
                    class="fa-solid fa-check save-btn"
                    (click)="saveUserDetails()"></i>
                </div>
                <div class="single-section">
                  <label>EMAIL</label>
                  <div class="data-value">
                    <div *ngIf="currentForm != Form.Email" class="wrapper">
                      {{ user.email }}
                    </div>
                    <input
                      *ngIf="currentForm == Form.Email"
                      class="details-input"
                      formControlName="email"
                      spellcheck="false"/>
                  </div>
                  <button 
                    *ngIf="currentForm != Form.Email"
                    class="action-btn"
                    (click)="editEmail()">Edit</button>
                  <i 
                    *ngIf="currentForm == Form.Email"
                    class="fa-solid fa-check save-btn"
                    (click)="saveUserDetails()"></i>
                </div>
                <div class="single-section">
                  <label>PHONE NUMBER</label>
                  <div class="data-value">
                    <div *ngIf="user.phoneNumber && currentForm != Form.PhoneNumber" class="wrapper">
                      {{ user.phoneNumber }}
                    </div>
                    <div *ngIf="!user.phoneNumber && currentForm != Form.PhoneNumber">
                      You haven't added a phone number yet.
                    </div>
                    <input
                      *ngIf="currentForm == Form.PhoneNumber"
                      class="details-input"
                      formControlName="phoneNumber"
                      spellcheck="false"/>
                  </div>
                  <button 
                    *ngIf="currentForm != Form.PhoneNumber"
                    class="action-btn"
                    (click)="editPhoneNumber()">
                    <div *ngIf="user.phoneNumber">Edit</div>
                    <div *ngIf="!user.phoneNumber">Add</div>
                  </button>
                  <i 
                    *ngIf="currentForm == Form.PhoneNumber"
                    class="fa-solid fa-check save-btn"
                    (click)="saveUserDetails()"></i>
                </div>
              </form>
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <h3>Password and Authentication</h3>
        <button 
          mat-raised-button
          color="primary"
          class="change-pw-btn"
          (click)="openPasswordDialog()">
          Change Password
        </button>
      </div>
      <!-- PROFILES VIEW -->
      <div *ngIf="currentView == View.Profiles" class="view-container">
        <mat-divider></mat-divider>
        <div style="display: flex; justify-content: space-between;">
          <div class="profiles-left">
            <h5>AVATAR</h5>
            <input 
              type="file" 
              #fileUpload
              style="display: none;"
              (change)="onFileChange($event)"/>
            <button
              mat-raised-button
              color="primary"
              (click)="fileUpload.click()">
              Change Avatar
            </button>
            <mat-divider></mat-divider>
            <h5>ABOUT ME</h5>
            <p>You can use markdown and links if you'd like.</p>
            <div
              *ngIf="aboutMeValue != undefined" 
              style="position: relative;">
              <textarea
                class="about-me-input"
                cdkTextareaAutosize
                [value]="aboutMeValue"
                (input)="onAboutMeChange($event)"
                spellcheck="false">
              </textarea>

              <div class="chars-left">
                {{ 130 - aboutMeValue.length }}
              </div>

              <div 
                class="picker-container"
                (click)="toggleEmojiPicker()">
                <div class="picker picker-input">
                  😁
                </div>
              </div>
              <div class="emoji-container">
                <emoji-mart 
                  class="emoji-mart" 
                  *ngIf="showEmojiPicker"
                  [@onMartToggle]
                  (emojiSelect)="addEmojiToMessage($event)"
                  [showSingleCategory]="true"
                  [isNative]="true"
                  [darkMode]="true"
                  [enableSearch]="false"
                  color="#f3f4f5"
                  [useButton]="true"
                  (clickOutside)="closeEmojiPicker($event)">
                </emoji-mart>
              </div>

            </div>
          </div>
          <div class="profiles-right">
            <h5>PREVIEW</h5>
            <div class="preview-container">
              <div 
                class="bottom-section" 
                style="height: 85%;">
                <user-avatar 
                  [userId]="user.id" 
                  class="user-avatar"
                  [username]="user.username"/>
                <div class="details-container">
                  <div class="details-username">
                    {{ user.username }}
                  </div>
                  <mat-divider></mat-divider>
                  <div *ngIf="aboutMeValue">
                    <h5>ABOUT ME</h5>
                    <div class="about-me-wrapper">
                      {{ aboutMeValue }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- VOICE & VIDEO VIEW -->
      <div *ngIf="currentView == View.VoiceAndVideo" class="view-container">
        <h5>INPUT SENSITIVITY</h5>
        <mat-slider min="0" max="50" step="0.5">
          <input matSliderThumb [value]="inputSensitivity" (input)="onInputSensitivityChange($event)"/>
        </mat-slider>
        <mat-error>
          <strong>Do not</strong> change the value while you are connected to a voice channel!
        </mat-error>
      </div>
      <!-- NOTIFICATIONS VIEW -->
      <div *ngIf="currentView == View.Notifications" class="view-container">
        <div class="option-name">
          Enable Unread Message Badge
          <mat-slide-toggle
            [checked]="messageBadgeOption"
            (change)="onMessageBadgeChange()">
          </mat-slide-toggle>
        </div>
      </div>
    </div>
    <div class="close-btn" (click)="onCloseClick()">
      <mat-icon>close</mat-icon>
      ESC
    </div>
  </div>
</div>