.user-details-container {
    position: relative;
    background-color: #36393F;
    border-radius: 8px;
    height: 375px;
}

.bottom-section {
    position: absolute;
    bottom: 0;
    border-radius: 0 0 8px 8px;
    height: 75%;
    width: 100%;
    background-color: #1E1F22;
}

.user-avatar {
    position: absolute;
    height: 80px!important;
    width: 80px!important;
    text-align: center;
    line-height: 80px!important;
    border-radius: 50%;
    font-size: 40px!important;
    border: 7px solid #1E1F22;
    top: -25px;
    left: 20px;
}

.username {
    position: absolute;
    left: 120px;
    font-size: 20px;
    font-weight: 500;
    top: 15px;
    width: 45%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.to-profile-btn {
    position: absolute;
    right: 15px;
    top: 15px;
}

.personal-data {
    position: absolute;
    background-color: #2B2D31;
    bottom: 15px;
    left: 15px;
    right: 15px;
    height: auto;
    border-radius: 8px;
    padding: 15px 15px 0 15px;
}

.single-section {
    position: relative;
    padding-bottom: 15px;
}

label {
    font-weight: 600;
    font-size: 12px;
}

.data-value {
    padding-top: 3px;
    font-size: 15px;
}

.action-btn {
    position: absolute;
    right: 0;
    top: 5px;
    background-color: #4E5058;
    border: none;
    color: #f3f4f5;
    border-radius: 4px;
    padding: 8px 15px 8px 15px;
    font-weight: 550;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s;
}

    .action-btn:hover {
        background-color: #6D6F78;
    }

.save-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #A1ABB0;
    transition: 0.1s;
}

    .save-btn:hover {
        color: #f3f4f5;
        transform: scale(1.1);
    }

.details-input {
    background-color: transparent;
    border: none;
    color: #f3f4f5;
    outline: none;
    font-size: 15px;
    padding: 0;
    width: 80%;
}

.profiles-left {
    min-width: 200px;
    width: 45%;
}

.profiles-left h5 {
    margin: 0 0 10px 0;
    font-weight: 500;
    color: #B5BAC1;
}
.profiles-right h5 {
    margin: 0 0 10px 0;
    font-weight: 500;
    color: #B5BAC1;
}

.preview-container {
    position: relative;
    border-radius: 8px;
    background-color: #36393F;
    width: 320px;
    min-height: 400px;
}

.wrapper {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
}

.about-me-wrapper {
    word-wrap: break-word;
    white-space: initial;
    overflow: hidden;
}

.details-container {
    background-color: #111214;
    border-radius: 8px;
    padding: 10px;
    position: absolute;
    bottom: 15px;
    left: 15px;
    right: 15px;
    height: 68%;
}

.details-username {
    font-size: 20px;
    font-weight: 500;
    color: #f3f4f5;
    margin: 5px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.about-me-input {
    position: relative;
    background-color: #1E1F22;
    border-radius: 3px;
    width: 86%;
    min-height: 150px;
    margin-top: 15px;
    padding: 4% 10% 4% 4%;
    color: #f3f4f5;
    font-size: 16px;
    border: none;
    outline: none;
}

.chars-left {
    position: absolute;
    bottom: 10px;
    right: 5%;
}

.picker-container {
    position: absolute;
    top: 15px;
    right: 1%;
    padding-inline: 8px;
    cursor: pointer;
}

.picker {
    position: absolute;
    right: 5px;
    top: 3px;
    font-size: 24px;
    filter: grayscale(100%);
    transition: 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.775);
    z-index: 5;
}

    .picker:hover {
        filter: grayscale(15%);
        transform: scale(1.1);
    }

.emoji-container {
    position: absolute;
    top: -50%;
    right: -360px;
    padding: 10px;
    z-index: 5;
}