<div 
  [ngClass]="router.url === '/directmessages' ? 'chat-server-icon-current' : 'chat-server-icon'"
  matTooltip="Direct Messages"
  matTooltipPosition="right"
  (click)="redirectToHome()">
  <i class="fa-brands fa-discord"></i>
  <div class="indicator"></div>
  <div [@routeChange] *ngIf="router.url === '/directmessages'" class="current"></div>
</div>

<hr/>

<div class="chat-servers-container">
  <div *ngFor="let chatServer of chatServers;">
    <div 
      [ngClass]="router.url.includes('/chatserver?id='+chatServer.id) ? 'chat-server-icon-current' : 'chat-server-icon'"
      matTooltip="{{chatServer.name}}"
      matTooltipPosition="right"
      (click)="redirectTo(chatServer.id.toString())">
      {{ chatServer.name[0] }}
      <div class="indicator"></div>
      <div [@routeChange] *ngIf="router.url.includes('/chatserver?id='+chatServer.id)" class="current"></div>
    </div>
  </div>
</div>

<div 
  class="add-chat-server"
  matTooltip="Add a Server"
  matTooltipPosition="right"
  (click)="openAddServerDialog()">
  <mat-icon>add</mat-icon>
</div>