.av-a {
    background-color: #ef3e37!important;
}

.av-b {
    background-color: #de5340!important;
}

.av-c {
    background-color: #ad5f52!important;
}

.av-d {
    background-color: #ed592b!important;
}

.av-e {
    background-color: #f27c58!important;
}

.av-f {
    background-color: #774838!important;
}

.av-g {
    background-color: #482b2d!important;
}

.av-h {
    background-color: #f47c86!important;
}

.av-i {
    background-color: #3d3542!important;
}

.av-j {
    background-color: #68626e!important;
}

.av-k {
    background-color: #41354d!important;
}

.av-l {
    background-color: #73a1b1!important;
}

.av-m {
    background-color: #557479!important;
}

.av-n {
    background-color: #387d7a!important;
}

.av-o {
    background-color: #85d0c3!important;
}

.av-p {
    background-color: #5d9b84!important;
}

.av-r {
    background-color: #2c4d71!important;
}

.av-s {
    background-color: #ffce21!important;
}

.av-t {
    background-color: #37943d!important;
}

.av-u {
    background-color: #2F6433!important;
}

.av-w {
    background-color: #7D812C!important;
}

.av-y {
    background-color: rgb(125, 42, 42)!important;
}

.av-z {
    background-color: rgb(85, 85, 85)!important;
}
