.bg {
    display: flex;
    position: fixed;
    /* background-color: #232428; */
    background-image: url('https://i.pinimg.com/originals/fd/91/13/fd91131ea693096d6be5e8aa99d18f9e.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 500px;
    background-color: #313138;
    border-radius: 6px;
    padding: 30px; 
    text-align: center;
}

@media screen and (max-width: 768px) {
    .form-container {
        width: 300px;
    }
}

p {
    margin-top: 5px!important;
    margin-bottom: 30px!important;
}

.full-width {
    width: 100%;
    margin-bottom: 10px;
}

.register-p {
    text-align: left;
    margin: 0!important;
}

.link {
    color: #04A0EA;
    text-decoration: none;
    cursor: pointer;
}

    .link:hover {
        text-decoration: underline;
    }

::ng-deep .mdc-text-field {
    background-color: #232428!important;
}

::ng-deep .mat-mdc-input-element {
    color: #F3F4F6!important;
}

::ng-deep mat-label {
    color: #F3F4F6!important;
}

::ng-deep .mat-mdc-form-field-required-marker {
    color: #F3F4F6!important;
}

mat-checkbox {
    float: left;
    margin-bottom: 15px;
    left: -10px;
}

.expand-panel {
    position: absolute;
    right: 0;
    top: 20%;
    background-color: #f3f4f5;
    padding: 15px;
    border-radius: 5px;
    color: #232428;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 4px -1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 4px -1px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 4px -1px rgba(66, 68, 90, 1);
}

.expand-panel p {
    margin: 0!important;
}