.bg {
    display: flex;
    position: fixed;
    /* background-color: #232428; */
    background-image: url('https://i.pinimg.com/originals/fd/91/13/fd91131ea693096d6be5e8aa99d18f9e.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.form-container {
    width: 500px;
    background-color: #313138;
    border-radius: 6px;
    padding: 30px; 
    text-align: center;
}

p {
    margin-top: 5px!important;
    margin-bottom: 30px!important;
}

.full-width {
    width: 100%;
    margin-bottom: 10px;
}

.register-p {
    text-align: left;
    margin: 0!important;
}

.link {
    color: #04A0EA;
    text-decoration: none;
    cursor: pointer;
}

    .link:hover {
        text-decoration: underline;
    }

::ng-deep .mdc-text-field {
    background-color: #232428!important;
}

::ng-deep .mat-mdc-input-element {
    color: #F3F4F6!important;
}

::ng-deep mat-label {
    color: #F3F4F6!important;
}

::ng-deep .mat-mdc-form-field-required-marker {
    color: #F3F4F6!important;
}

mat-checkbox {
    float: left;
    margin-bottom: 15px;
    left: -10px;
}