<!-- COMMON MESSAGE -->
<div *ngIf="!messageContent.includes('-->') 
         && !messageContent.includes('http://')
         && !messageContent.includes('https://')
         && !messageContent.includes('https://media')
         && !messageContent.includes('<!replyTo')"
         [innerHTML]="messageContent">
</div>
<!-- REPLY MESSAGE -->
<div *ngIf="messageContent.includes('<!replyTo')">
  {{ replied }}
  <div class="reply-path"></div>
  <div
    *ngIf="messageToReply"
    class="message-to-reply">
    <div class="reply-avatar">
      <i class="fa-brands fa-discord i-avatar" [ngClass]="true ? 'av-' + messageToReply.user.username[0].toLowerCase() : ''"></i>
    </div>
    <div class="reply-username">
      {{ messageToReply.user.username }}
    </div>
    <div class="reply-content">
      {{ messageToReply.content }}
    </div>
  </div>
</div>
<!-- HYPERLINK MESSAGE -->
<div *ngIf="messageContent.includes('http://') 
         || messageContent.includes('https://')">
  <div
    *ngIf="!messageContent.includes('https://media')" 
    class="link-wrapper">
    <a [href]="messageContent">{{ messageContent }}</a>
  </div>
  <!-- YOUTUBE -->
  <div 
    *ngIf="messageContent.includes('https://www.youtube.com/watch?')"
    class="youtube-player-container">
    <a 
      class="yt-link"
      href="https://www.youtube.com/">
      YouTube
    </a>
    <a 
      class="video-channel"
      [href]="'https://www.youtube.com/@'+videoChannel">
      {{ videoChannel }}
    </a>
    <a 
      class="video-title"
      [href]="messageContent">
      {{ videoTitle }}
    </a>
    <youtube-player
      [videoId]="videoId"
      (ready)="savePlayer($event)"
      (change)="onStateChange($event)">
    </youtube-player>
  </div>
  <!-- GIPHY -->
  <div *ngIf="messageContent.includes('https://media')">
    <img 
      class="gif-img" 
      [src]="messageContent" 
      (error)="isNotImage()"/>
  </div>
</div>
<!-- INVITE MESSAGE -->
<div class="invitation-container" *ngIf="chatServer && messageContent.includes('http://localhost:4200/invitation?v=')">
  <h5 *ngIf="!isExpired">YOU'VE BEEN INVITED TO JOIN A SERVER</h5>
  <h5 *ngIf="isExpired">YOU RECEIVED AN INVITE, BUT...</h5>
  <div style="position:relative; display: flex;">
    <div
      *ngIf="!isExpired" 
      class="server-icon">
      {{ chatServer.name[0] }}
    </div>
    <i 
      *ngIf="isExpired"
      class="fa-solid fa-calendar-xmark expired-icon">
    </i>
    <div>
      <h3 *ngIf="!isExpired">
        {{ chatServer.name }}
      </h3>
      <h3 style="color: #F23F42; font-size: 14px;" *ngIf="isExpired">
        Invitation Link has expired
      </h3>
      <p *ngIf="!isExpired">
        • {{ chatServer.members!.length }} Members
      </p>
      <p *ngIf="isExpired">
        Ask for a new invite!
      </p>
    </div>
    <div 
      *ngIf="!isExpired"
      class="join-btn"
      [ngClass]="isAlreadyMember ? 'disabled' : ''"
      (click)="handleJoinChatServer()"
      [matTooltip]="isAlreadyMember ? 'You are already member' : ''">
      <div *ngIf="!isLoading">
        {{ isAlreadyMember ? 'Joined' : 'Join' }}
      </div>
      <div *ngIf="isLoading">
        <mat-progress-spinner mode="indeterminate" [diameter]="15"></mat-progress-spinner>
      </div>
    </div>
  </div>
</div>
<!-- IMAGE MESSAGE -->