.invitation-container {
    padding: 5px 15px 20px 15px;
    background-color: #2B2D31;
    border-radius: 8px;
    user-select: none;
    width: 400px;
}

a {
    text-overflow: ellipsis;
    overflow: hidden;
}

.link-wrapper {
    white-space: pre-wrap; /* CSS3 */    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */    
    white-space: -o-pre-wrap; /* Opera 7 */    
    word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.server-icon {
    background-color: #1b1c1e;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    margin-right: 10px;
    font-weight: 400;
}

h3 {
    margin: 5px 0 0 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.join-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #248046;
    padding: 10px 20px 8px 20px;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.2;
}

    .join-btn:hover {
        filter: brightness(1.1)
    }

.disabled {
    cursor: not-allowed;
    filter: grayscale(20%);
} 

    .disabled:hover {
        filter: grayscale(20%);
    }

::ng-deep .mat-mdc-progress-spinner {
    --mdc-circular-progress-active-indicator-color: #f3f4f5!important;
    }

.youtube-player-container {
    background-color: #2B2D31;
    width: 370px;
    padding: 15px;
    border-radius: 5px;
    border-left: 4px solid #FF0000;
}

.yt-link {
    color: #B5BAC1;
    width: auto;
    cursor: pointer;
    width: 50px;
    margin-bottom: 10px;
    display: block;
    font-size: 12px;
}

.video-title {
    font-weight: 500;
    color: #00A8DC;
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
    font-size: 16px;
}

.video-channel {
    color: #f3f4f5;
    display: block;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 10px;
}

img {
    cursor: pointer;
    max-width: 40vw;
}

.gif-img {
    max-width: 500px;
}

.message-to-reply {
    display: flex;
    position: absolute;
    top: -55px;
}

.reply-username {
    font-weight: 500;
    line-height: 24px;
    margin-right: 10px;
    cursor: pointer;
    color: #A7A9AC;
}

    .reply-username:hover {
        text-decoration: underline;
    }

.reply-content {
    font-size: 13px;
    line-height: 25px;
    color: #B5BAC1;
    cursor: pointer;
}

    .reply-content:hover {
        color: #f3f4f5;
    }

.i-avatar {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    line-height: 22px;
    font-size: 12px;
    text-align: center;
    margin-right: 5px;
}

.reply-path {
    position: absolute;
    border: 2.5px solid #4E5058;
    width: 22px;
    height: 15px;
    border-radius: 8px 0 0 0;
    border-bottom: none;
    border-right: none;
    top: -45px;
    left: -30px;
}

::ng-deep .mention-highlight {
    background-color: #3D4270;
    border-radius: 5px;
    padding: 2px 4px 2px 4px;
    cursor: pointer;
    transition: 0.05s;
    font-weight: 500;
    color: #C9CDFB;
}

    ::ng-deep .mention-highlight:hover {
        background-color: #5865F2;
        color: #f3f4f5;
    }

.expired-icon {
    color: #4F545C;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 32px;
    margin-right: 10px;
}