<div *ngIf="chatServer" class="container">
  <div 
    (click)="toggleServerMenu()"
    [matMenuTriggerFor]="menu" 
    class="top-bar">
    {{ chatServer.name }}
    <mat-icon class="server-menu-btn" *ngIf="!isServerMenuExpanded">
      keyboard_arrow_down
    </mat-icon>
    <mat-icon class="server-menu-btn" *ngIf="isServerMenuExpanded">
      close
    </mat-icon>
  </div>
  <mat-menu [hasBackdrop]="false" #menu="matMenu">
    <div class="menu">
      <div class="menu-option" (click)="openGenerateInvitationDialog()">
        Invite People
        <mat-icon>person_add</mat-icon>
      </div>
      <div class="menu-option" (click)="toggleServerSettings()">
        Server Settings
        <mat-icon>settings</mat-icon>
      </div>
      <div class="menu-option" (click)="openCreateCategoryDialog()">
        Create Category
        <mat-icon>add_to_photos</mat-icon>
      </div>
    </div>
  </mat-menu>
  <div cdkDropListGroup>
    <div *ngFor="let category of chatServer.chatCategories; index as i;">
      <div 
        class="chat-category"
        (click)="collapseCategory(i)">
        <mat-icon 
          class="arrow"
          [@expandCollapse]="isOpen[i] ? 'open' : 'closed'">
          keyboard_arrow_down
        </mat-icon>
        <div class="category-name">
          {{ category.name.toUpperCase() }}
        </div>
        <mat-icon
          class="add"
          matTooltip="Create Channel"
          matTooltipPosition="above"
          (click)="openCreateChannelDialog(category, i)">
          add
        </mat-icon>
      </div>
      <ng-container *ngIf="toExpand[i]">
        <div 
          cdkDropList 
          (cdkDropListDropped)="onChannelDrop($event)"
          [cdkDropListData]="category.chatChannels">
          <div
            cdkDrag
            [cdkDragData]="channel"
            [ngClass]="currentRoute.route == '/chatserver?id='+chatServer.id+'&channel='+channel.id ? 
            'chat-channel chat-channel-current' : 'chat-channel'" 
            *ngFor="let channel of category.chatChannels"
            (click)="redirectToChatChannel(channel.id)">
            <div [ngClass]="channel.hasNotification ? 'notification-indicator' : ''"></div>
            <div class="hashtag"> # </div>
            <div 
              class="channel-name"
              [ngStyle]="{ 'color': channel.hasNotification ? '#f3f4f5' : '' }">
              {{ channel.name }}
            </div>
            <i 
              [ngClass]="currentRoute.route == '/chatserver?id='+chatServer.id+'&channel='+channel.id
              || currentChannelSettings == channel.id ?
              'settings' : 'settings hide-settings'"
              matTooltip="Edit Channel"
              matTooltipPosition="above"
              (click)="openChannelSettings(channel.id)"
              class="fa-solid fa-gear"></i>
            <div 
              *ngIf="currentChannelSettings == channel.id"
              class="channel-settings"
              (clickOutside)="closeChannelSettings()">
              <div
                (click)="deleteChannel()" 
                class="settings-option-warn">
                Delete Channel
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</div>