<div class="container">
  <div 
    (click)="toggleServerMenu()"
    [matMenuTriggerFor]="menu" 
    class="top-bar">
    <div *ngIf="chatServer" class="server-name">
      {{ chatServer.name }}
    </div>
    <mat-icon class="server-menu-btn" *ngIf="!isServerMenuExpanded">
      keyboard_arrow_down
    </mat-icon>
    <mat-icon class="server-menu-btn" *ngIf="isServerMenuExpanded">
      close
    </mat-icon>
  </div>
  <mat-menu [hasBackdrop]="false" #menu="matMenu">
    <div class="menu">
      <div 
        class="menu-option" 
        (click)="openGenerateInvitationDialog()">
        Invite People
        <mat-icon>person_add</mat-icon>
      </div>
      <div
        *ngIf="isPermittedToManageServer()" 
        class="menu-option" 
        (click)="toggleServerSettings()">
        Server Settings
        <mat-icon>settings</mat-icon>
      </div>
      <div
        *ngIf="isPermittedToManageServer()"  
        class="menu-option" 
        (click)="openCreateCategoryDialog()">
        Create Category
        <mat-icon>add_to_photos</mat-icon>
      </div>
    </div>
  </mat-menu>
  <div 
    *ngIf="chatServer" 
    class="channels-container"
    cdkDropListGroup>
    <div *ngFor="let category of chatServer.chatCategories; index as i;">
      <div 
        class="chat-category"
        (click)="collapseCategory(i)">
        <mat-icon 
          class="arrow"
          [@expandCollapse]="!isOpen[i] ? 'open' : 'closed'">
          keyboard_arrow_down
        </mat-icon>
        <div class="category-name">
          {{ category.name.toUpperCase() }}
        </div>
        <mat-icon
          *ngIf="isPermittedToManageServer()" 
          class="add"
          matTooltip="Create Channel"
          matTooltipPosition="above"
          (click)="openCreateChannelDialog(category, i)">
          add
        </mat-icon>
      </div>
      <ng-container *ngIf="toExpand[i]">
        <div 
          cdkDropList 
          (cdkDropListDropped)="onChannelDrop($event)"
          [cdkDropListData]="category.chatChannels">
          <div
            cdkDrag
            [cdkDragData]="channel"
            *ngFor="let channel of availableChannels(category.chatChannels)"
            id="channel-{{ channel.id }}"
            (click)="channel.type == channelType.Text ? 
            redirectToChatChannel(channel.id) : joinVoiceChannel(channel)">
            <div 
              [ngClass]="router.url.includes('channel/'+channel.id+'/') ? 
              'chat-channel chat-channel-current' : 'chat-channel'">
              <div [ngClass]="channel.hasNotification ? 'notification-indicator' : ''"></div>
              <div *ngIf="channel.type == channelType.Text" class="hashtag"> # </div>
              <div *ngIf="channel.type == channelType.Voice" class="speaker">
                <i class="fa-solid fa-volume-high"></i>
              </div>
              <div 
                class="channel-name"
                [ngStyle]="{ 'color': channel.hasNotification ? '#f3f4f5' : '' }">
                {{ channel.name }}
              </div>
              <i
                *ngIf="isPermittedToManageServer()"  
                [ngClass]="currentRoute.route == '/chatserver?id='+chatServer.id+'&channel='+channel.id
                || (currentChannelSettings && currentChannelSettings!.id == channel.id) ?
                'settings' : 'settings hide-settings'"
                matTooltip="Edit Channel"
                matTooltipPosition="above"
                (click)="openChannelSettings(channel)"
                class="fa-solid fa-gear"></i>
              <div 
                *ngIf="currentChannelSettings && currentChannelSettings!.id == channel.id"
                class="channel-settings"
                (clickOutside)="closeChannelSettings()">
                <div 
                  class="settings-option"
                  (click)="openChannelPermissionsDialog()">
                  Permissions
                </div>
                <div
                  (click)="deleteChannel()" 
                  class="settings-option warn">
                  Delete Channel
                </div>
              </div>
            </div>
            <div 
              *ngFor="let user of channel.voiceUsers; index as i;"
              class="single-voice-user">
              <user-avatar 
              [userId]="user.id" 
              id="user-{{ user.id }}"
              class="voice-avatar"
              [username]="user.username"/>
              {{ user.username }}
              <i 
                id="user-{{ user.id }}-muted"
                class="fa-solid fa-microphone-slash">
              </i>
            </div>
          </div>
        </div>
      </ng-container>
      <audio style="display: none;" id="joinSound" src="../../../assets/joinSound.m4a" preload="auto"></audio>
      <audio style="display: none;" id="leaveSound" src="../../../assets/leaveSound.m4a" preload="auto"></audio>
      <audio style="display: none;" id="muteSound" src="../../../assets/muteSound.m4a" preload="auto"></audio>
      <audio style="display: none;" id="unmuteSound" src="../../../assets/unmuteSound.m4a" preload="auto"></audio>    
      <audio style="display: none;" #remoteAudio autoplay></audio>
      <audio style="display: none;" #localAudio autoplay muted></audio>
      <div 
        *ngIf="currentVoiceChannel"
        class="current-voice-container">
        <div>
          <div class="voice-status">
            <i class="fa-solid fa-signal"></i>
            Voice Connected
          </div>
          <div class="voice-channel-name">
            {{ currentVoiceChannel.name }}
          </div>
        </div>
        <div class="connection-actions">
          <i 
            *ngIf="!isMuted"
            class="fa-solid fa-microphone"
            (click)="muteUser()"
            matTooltip="Mute"
            matTooltipPosition="above">
          </i>
          <i 
            *ngIf="isMuted"
            class="fa-solid fa-microphone-slash"
            (click)="unmuteUser()"
            matTooltip="Unmute"
            matTooltipPosition="above">  
          </i>
          <i 
            class="fa-solid fa-phone-slash"
            (click)="leaveVoiceChannel()"
            matTooltip="Disconnect"
            matTooltipPosition="above">
          </i>
        </div>
      </div>
    </div>
  </div>
</div>