<div [@fadeIn] *ngIf="isOpen" class="server-settings-container">
  <div class="side-menu">
    <div *ngIf="chatServer">
      <h5>{{ chatServer.name }}</h5>
      <div 
        class="settings-option"
        [class.current-option]="currentView == View.Overview"
        (click)="currentView = View.Overview">
        Overview
      </div>
      <div 
        class="settings-option"
        [class.current-option]="currentView == View.Roles || currentView == View.RolesExtended"
        (click)="currentView = View.Roles">
        Roles
      </div>
    </div>
  </div>
  <div class="main-container">
    <div *ngIf="chatServer">
      <h3>{{ currentView }}</h3>
      <!-- OVERVIEW -->
      <div *ngIf="currentView == View.Overview">
        <div class="server-details-container">
          <div class="col-1">
            <chat-server-avatar
              [name]="chatServer.name"
              [serverId]="chatServer.id"
              class="server-avatar"/>
            <div class="remove-span">
              Remove
            </div>
          </div>
          <div class="col-2">
            <p>
              We recommend an image of at least 512x512 for the server.
            </p>
            <input
              type="file"
              #fileUpload
              style="display: none;"
              (change)="onFileChange($event)"/>
            <button
              class="upload-btn"
              (click)="fileUpload.click()">
              Upload Image
            </button>
          </div>
          <div class="col-3">
            <h5>SERVER NAME</h5>
            <mat-form-field 
              *ngIf="serverNameValue"
              style="width: 100%;">
              <input
                matInput 
                matNativeControl
                required
                spellcheck="false"
                [value]="serverNameValue"
                (input)="onNameValueChange($event)"/>
            </mat-form-field>
          </div>
        </div>
      </div>
      <!-- ROLES -->
      <div *ngIf="currentView == View.Roles">
        <p>Use roles to group your server members and assign permissions.</p>
        <table 
          mat-table 
          *ngIf="chatServer.roles" 
          [dataSource]="chatServer.roles"
          class="roles-table">
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>ROLES - {{ chatServer.roles.length }}</th>
            <td 
              mat-cell 
              *matCellDef="let role" 
              class="role-name" 
              (click)="currentRole = role">
              <div style="display: flex; line-height: 30px;">
                <mat-icon class="role-icon">verified_user</mat-icon>
                <div class="role-wrapper">{{ role.name }}</div>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="users">
            <th mat-header-cell *matHeaderCellDef>MEMBERS</th>
            <td 
              mat-cell 
              *matCellDef="let role" 
              (click)="currentRole = role">
              <div class="members-td">               
                {{ role.users.length }}
                <mat-icon class="members-icon">supervisor_account</mat-icon>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let role">
              <div class="actions-container">
                <mat-icon>edit</mat-icon>
                <mat-icon>delete</mat-icon>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr 
            mat-row 
            *matRowDef="let row; columns: displayedColumns;"
            (click)="currentView = View.RolesExtended">
          </tr>
        </table>
      </div>
      <!-- ROLES EXTENDED -->
      <div *ngIf="currentView == View.RolesExtended && currentRole">
        <div style="display: flex;">
          <div class="col-left">
            <div class="roles-upper">
              <div 
                class="back-to-roles-btn"
                (click)="currentView = View.Roles">
                <mat-icon>arrow_back</mat-icon>
                <h4>BACK</h4>
              </div>
              <mat-icon
                matTooltip="Create Role"
                (click)="onCreateRole()">
                add
              </mat-icon>
            </div>
            <div 
              *ngFor="let role of chatServer.roles"
              class="single-role"
              [class.current]="role.id == currentRole.id"
              (click)="currentRole = role"
              (contextmenu)="onRoleRightClick(role)"
              (clickOutside)="!doNotInterrupt ? currentRoleOptions = 0 : null">
              <i class="fa-solid fa-circle"></i>
              <div class="role-name">{{ role.name }}</div>
              <div
                *ngIf="currentRoleOptions == role.id" 
                class="role-options">
                <div
                  (click)="onDeleteRole()" 
                  class="role-option warn">
                  Delete
                </div>
              </div>
            </div>
          </div>
          <div class="col-right">
            <h4>EDIT ROLE - {{ currentRole.name.toUpperCase() }}</h4>
            <div style="display: flex; justify-content: space-between; margin-bottom: 20px;">
              <div 
                class="edit-role-item"
                [class.current-edit]="currentEditRoleView == EditRoleView.Display"
                (click)="currentEditRoleView = EditRoleView.Display">
                Display
              </div>
              <div 
                class="edit-role-item"
                [class.current-edit]="currentEditRoleView == EditRoleView.Permissions"
                (click)="currentEditRoleView = EditRoleView.Permissions">
                Permissions
              </div>
              <div 
                class="edit-role-item"
                [class.current-edit]="currentEditRoleView == EditRoleView.ManageMembers"
                (click)="currentEditRoleView = EditRoleView.ManageMembers">
                Manage Members ({{ currentRole.users.length }})
              </div>
          </div>
          <mat-divider></mat-divider>
          <!-- DISPLAY -->
          <div *ngIf="currentEditRoleView == EditRoleView.Display">
            <h5>ROLE NAME <i>*</i></h5>
            <div class="input-container" style="height: 40px; width: 100%;">
              <input
                [value]="currentRole.name"
                (input)="onRoleNameChange($event)"
                spellcheck="false"/>
            </div>
          </div>
          <!-- PERMISSIONS -->
          <div *ngIf="currentEditRoleView == EditRoleView.Permissions">
            <h5>GENERAL SERVER PERMISSIONS</h5>
            <div class="permission-name">
              View Channels
              <mat-slide-toggle
                color="primary" 
                (change)="onChangePermission('view-channels')" 
                [checked]="isPermissed('view-channels')">
              </mat-slide-toggle>
            </div>
            <div class="permission-desc">
              Allows members to view channels by default (excluding private channels).
            </div>
            <mat-divider></mat-divider>
            <div class="permission-name">
              Send messages
              <mat-slide-toggle
                color="primary" 
                (change)="onChangePermission('send-messages')" 
                [checked]="isPermissed('send-messages')">
              </mat-slide-toggle>
            </div>
            <div class="permission-desc">
              Allows members to send messages in text channels.
            </div>
            <mat-divider></mat-divider>
            <h5>ADVANCED PERMISSIONS</h5>
            <div class="permission-name">
              Administrator
              <mat-slide-toggle
                color="primary" 
                (change)="onChangePermission('administrator')" 
                [checked]="isPermissed('administrator')">
              </mat-slide-toggle>
            </div>
            <div class="permission-desc">
              Members with this permission will have every permission and will also
              bypass all channel specific permissions or restrictions (for example, these
              members would get access to all private channels). <strong>This is a dangerous
              permission to grant.</strong>
            </div>
            <mat-divider></mat-divider>
          </div>
          <!-- MANAGE MEMBERS -->
          <div *ngIf="currentEditRoleView == EditRoleView.ManageMembers">
            <div style="display: flex; margin-bottom: 20px;">
              <div class="input-container">
                <input
                  placeholder="Search Members"/>
              </div>
              <button
                mat-raised-button
                color="primary"
                class="add-to-role-btn"
                (click)="openAddMembersToRoleDialog()">
                Add Members
              </button>
            </div>
            <div *ngFor="let user of currentRole.users">
              <div class="single-user">
                <user-avatar
                  [username]="user.username"
                  [userId]="user.id"
                  class="user-avatar"/>
                <div class="user-name">
                  {{ user.username }}
                </div>
                <i 
                  matTooltip="Remove member"
                  matTooltipPosition="above"
                  class="fa-solid fa-circle-xmark remove-btn"
                  (click)="onRemoveMemberFromRole(user.id)">
                </i>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
<div class="close-btn" (click)="onCloseClick()">
  <mat-icon>close</mat-icon>
  ESC
</div>
