.server-settings-container {
    position: absolute;
    background-color: #313338;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: flex;
}

.side-menu {
    background-color: #2B2D31;
    min-width: 15vw;
    max-width: 20vw;
    height: 100%;
    color: #98999F;
    padding: 30px 10px 0 10vw;
}

.main-container {
    position: relative;
    width: 750px;
    height: auto;
    margin: 0 100px 0 0;
    padding: 30px 80px 50px 45px;
    overflow-y: scroll;
}

    .main-container::-webkit-scrollbar {
        display: none;
    }

.close-btn {
    position: absolute;
    top: 50px;
    right: 0;
    display:block;
    cursor: pointer;
    text-align: center;
    color: #B7B8BE;
}

    .close-btn:hover {
        color: #f3f4f5;
    }

mat-icon {
    display: block;
    border-radius: 50%;
    border: 2px solid;
    padding: 5px;
    margin-bottom: 5px;
}

h5 {
    margin-left: 12px;
    margin-bottom: 5px;
}

h3 {
    font-weight: 500;
}

hr {
    margin: 40px 0 40px 0;
    border: 1px solid #3F4147;
}

p {
    font-size: 13px;
    font-weight: 300;
    margin: 0;
}

.settings-option {
    color: #B5BAC1;
    font-weight: 400;
    border-radius: 5px;
    padding: 8px 12px 8px 12px;
    cursor: pointer;
    margin-bottom: 3px;
    display: flex;
}

    .settings-option:hover {
        background-color: #36373D;
        color: #f3f4f5;
    }

.current-option {
    background-color: #404249;
    color: #f3f4f5;
}

.server-details-container {
    display: flex;
}

.col-1 {
    position: relative;
    text-align: center;
}

.server-avatar {
    position: absolute;
    left: 0;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    background-color: #1e1f21;
    border-radius: 50%;
    font-size: 42px;
}

.remove-span {
    font-size: 13px;
    font-weight: 500;
    color: #AAAEBA;
    cursor: pointer;
    position: absolute;
    top: 110px;
    left: 26px;
}

    .remove-span:hover {
        color: #f3f4f5;
    }

.col-2 {
    margin: 5px 25px 0 130px;
}

.col-3 {
    width: 600px;
    margin-top: 5px;
}

    .col-3 h5 {
        margin: 0 0 10px 0;
        font-weight: 500;
        color: #ADB1BD;
    }

.upload-btn {
    margin-top: 15px;
    background-color: transparent;
    color: #f3f4f5;
    border: 1px solid #4E5058;
    padding: 12px 15px 12px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
}

    .upload-btn:hover {
        background-color: #4E5058;
    }

::ng-deep .col-3 {
    .mdc-text-field {
        background-color: #232428!important;
    }
    .mat-mdc-input-element {
        color: #F3F4F6!important;
    }
    mat-label {
        color: #F3F4F6!important;
    }
    .mat-mdc-form-field-required-marker {
        display: none;
    }
}

.roles-table {
    margin-top: 20px;
    background-color: transparent;
    color: #f3f4f5;
}

th {
    color: #ADB1BD;
    font-size: 12px;
    font-weight: 600;
    padding: 0;
}

td {
    padding: 0;
}

    .role-row:hover {
        background-color: #3A3C42;
    }

.role-name {
    color: #f3f4f5;
    font-size: 16px;
    font-weight: 400;
}

.role-icon {
    border: none;
    color: #99AAB5;
    margin-right: 5px;
}

.members-icon {
    border: none;
    color: #B5BAC1;
    margin-left: 5px;
}

.members-td {
    display: flex; 
    line-height: 35px; 
    color: #B5BAC1;
    font-size: 15px;
}

.mat-mdc-table .mdc-data-table__header-row .mat-mdc-header-cell {
    border-color: #3F4147;
}

.mat-mdc-row .mat-mdc-cell {
    position: relative;
    border-color: #3F4147;
    cursor: pointer;
}

.mat-mdc-row {
    position: relative;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: #3A3C42;
  }

.back-to-roles-btn {
    display: flex;
    color: #B5BAC1;
    cursor: pointer;
    line-height: 35px;
}

.back-to-roles-btn:hover {
    color: #f3f4f5;
}

    .back-to-roles-btn mat-icon {
        border: none;
        margin-right: 5px;
    }

    .back-to-roles-btn h4 {
        margin: 0;
        font-weight: 500;
    }

.col-left {
    padding-right: 15px;
}

.col-right {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 250px;
    width: 420px;
    padding: 56px 0 0 20px;
    border-left: 1px solid #3F4147;
}

.col-right h4 {
    margin: 0;
    font-weight: 500;
    margin-bottom: 30px;
}

.roles-upper {
    display: flex;
    width: 190px;
    margin-bottom: 20px;
}

    .roles-upper mat-icon {
        border: none;
        margin-left: auto;
        cursor: pointer;
    }

.single-role {
    position: relative;
    display: flex;
    padding: 10px 15px 10px 40px;
    border-radius: 5px;
    margin-bottom: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

    .single-role:hover {
        background-color: #3A3C42;
    }

    .current {
        background-color: #43444B;
    }

    .single-role i {
        position: absolute;
        color: #99AAB5;
        margin-right: 10px;
        top: 11px;
        left: 15px;
    }

.edit-role-item {
    color: #B5BAC1;
    cursor: pointer;
}

.current-edit {
    color: #f3f4f5;
}

.single-user {
    display: flex;
    line-height: 35px;
    margin-bottom: 5px;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

    .single-user:hover {
        background-color: #3A3C42;
    }

.user-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 35px;
    font-size: 18px;
    margin-right: 10px;
}

.user-name {
    font-size: 14px;
}

.input-container {
    background-color: #1E1F22;
    border-radius: 5px;
    display: flex;
    width: 255px;
    margin-right: 10px;
    padding-inline: 10px;
}

    .input-container input {
        background-color: transparent;
        border: none;
        outline: none;
        color: #f3f4f5;
    }

.remove-btn {
    color: #B5BAC1;
    margin-left: auto;
    margin-top: 10px;
}

    .remove-btn:hover {
        color: #f3f4f5;
    }

.role-options {
    position: absolute;
    right: -30px;
    bottom: -20px;
    background-color: #111214;
    border-radius: 5px;
    height: auto;
    width: 100px;
    padding: 5px;
    z-index: 5;
}

.role-option {
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: #B5BAC1;
}

.warn {
   color: #F23F42; 
}

    .warn:hover {
        background-color: #F23F42; 
        color: #f3f4f5;
    }

.col-right h5 {
    margin: 0;
    color: #B5BAC1;
    font-weight: 500;
    margin-bottom: 10px;
}

h5 i {
    color: #F23F42;
    font-size: 10px;
}

.permission-name {
    display: flex;
    padding-top: 15px
}

    .permission-name mat-slide-toggle {
        margin-left: auto;
    }

.permission-desc {
    font-size: 12px;
    color: #B5BAC1;
    padding: 10px 0 20px 0;
}