.container {
    position: relative;
    padding: 15px;
    padding-top: 20px;
    overflow: hidden;
}

.close {
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
    color: #87888D;
    transition: 0.2s;
}

    .close:hover {
        color: #EEEFF0;
    }

h1 {
    color: #EEEFF0!important;
    font-weight: 400!important;
    font-size: 18px!important;
}

p {
    margin-top: 3px;
    font-size: 12px;
    color: #87888D;
}

h2 {
    margin-top: 20px;
    font-size: 12px;
    font-weight: 500;
    color: #B8B9BF;
}

.invitation-link {
    background-color: #1E1F22;
    border-radius: 5px;
    padding: 10px;
    user-select: text;
    display: flex;
    justify-content: space-between;
    line-height: 35px;
}

