.details-container {
    position: fixed;
    background-color: #232428;
    width: 25vw;
    border-radius: 8px;
    z-index: 5;
    right: 230px;
    top: 20vh;
    height: auto;
}

.mobile-details-container {
    left: 5vw;
    right: 5vw;
    width: auto;
    bottom: 20vh;
}

    .mobile-details-container .member-avatar {
        width: 20vw;
        height: 20vw;
        font-size: 10vw;
        line-height: 20vw;
        border: 2vw solid #232428;
        top: 4vh;
        left: 3vw;
    }

    .mobile-details-container .details {
        margin: 10vw 15px 15px 15px;
        padding: 3vw;
        height: 32vh;
    }

    .mobile-details-container .username {
        font-size: 24px;
    }

    .mobile-details-container .input-container {
        padding: 2vw;
        margin: 2vw;
    }

    .mobile-details-container input {
        font-size: 24px;
    }

.details-upper {
    height: 11vh;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.member-avatar {
    position: absolute;
    top: 1.25vw;
    left: 1.25vw;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    border: 0.5vw solid #232428;
    text-align: center;
    line-height: 6vw;
    font-size: 3vw;
}

.details {
    position: relative;
    height: auto;
    margin: 4vw 15px 15px 15px;
    background-color: #111214;
    border-radius: 8px;
    padding: 1vw 1vw 6vw 1vw;
}

    .details h5 {
        margin: 10px 0 10px 0;
        font-size: 12px;
    }

.role {
    font-size: 12px;
    background-color: #232428;
    padding: 5px 8px 5px 5px;
    width: fit-content;
    border-radius: 5px;
    display: inline-block;
    margin-right: 5px;
}

    .role i {
        margin-right: 5px;
    }

.about-me {
    word-wrap: break-word;
    font-size: 14px;
}

.username {
    font-size: 1.5vw;
    padding-bottom: 1vw;
    border-bottom: 1px solid #232428;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.input-container {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    left: 1vw;
    border-radius: 3px;
    border: 1px solid #232428;
    padding: 0.7vw;
}

input {
    font-size: 1vw;
    color: #F3F4F5;
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}