<div 
  *ngIf="currentUser && user"
  [@slideIn] 
  class="details-container"
  [ngStyle]="centered ? {
    'left': (user.username.length*8)+365+'px'
  } : {}">
  <div class="details-upper" [ngClass]="true ? 'av-' + user!.username[0].toLowerCase() : ''"></div>
  <user-avatar 
    [userId]="user.id" 
    class="member-avatar"
    [username]="user.username"/>
  <div class="details">
    <div class="username">
      {{ user.username }}
    </div>
    <h5>ROLE</h5>
    <div
      *ngFor="let role of user.roles" 
      class="role">
      <i class="fa-solid fa-circle"></i>
      {{ role.name }}
    </div>
    <div *ngIf="currentUser.id != user.id" class="input-container">
      <input
        [placeholder]="'Message @'+user!.username"
        [value]="messageValue"
        (input)="onValueChange($event)"
        (keydown.enter)="onSubmit($event)">
    </div>
  </div>
</div>
