<div class="container">
  <div class="top-bar">
    <div class="hashtag">
      #
    </div>
    <div class="channel-name" *ngIf="chatChannel">
      {{ chatChannel.name }}
    </div>
    <div 
      (click)="hideShowMembers()" 
      class="members-icon"
      [matTooltip]="showMembers ? 'Hide Member List' : 'Show Member List'">
      <mat-icon>people</mat-icon>
    </div>
  </div>
  <div class="flex" *ngIf="chatChannel">
    <div class="messages-container">
      <div 
        class="messages-wrapper"
        #wrapper
        infiniteScroll
        [infiniteScrollUpDistance]="1"
        (scrolledUp)="onScroll()"
        [scrollWindow]="false">
        <div class="hashtag-big">#</div>
        <h1>Welcome to #{{ chatChannel.name }}!</h1>
        <p>This is the start of the #{{ chatChannel.name }} channel.</p>
        <mat-progress-spinner *ngIf="loading" mode="indeterminate" [diameter]="40"></mat-progress-spinner>
        <div *ngFor="let message of orderByPostDate(chatMessages); index as i" class="single-message">

          <div 
            *ngVar="chatMessages[i-1]?.user!.username != message.user.username 
                    || toDate(chatMessages[i-1]?.postDate!) != toDate(message.postDate)
                    || message.content.includes('<!replyToChatMessage') 
                    as firstOfMessages;" 
            class="single-message"
            [class.reply-message]="message.content.includes('<!replyToChatMessage')">
            <div 
              *ngIf="toDate(chatMessages[i-1]?.postDate!) != toDate(message.postDate)"
              class="date-hr"
              [ngClass]="message.content.includes('<!replyToChatMessage') ? 'reply-date-hr' : ''">
              <hr/>
              {{ message.postDate | date:'d MMM y' }}
              <hr/>
            </div>

            <div 
              class="message-content" 
              [ngClass]="!firstOfMessages ? 'not-first' : 'first'"
              [class.message-to-reply]="message == messageToReply"
              [class.mentioned-in-message]="">
              <div *ngIf="!firstOfMessages" class="post-date-not-first">
                {{ message.postDate | date:'h:mm a' }}
              </div>

              <div 
                *ngIf="firstOfMessages" 
                class="user-avatar"
                (click)="openMemberDetails(message.user.id, 1)">
                <user-avatar 
                  [userId]="message.user.id" 
                  class="message-avatar"
                  [username]="message.user.username"/>
              </div>

              <div [ngClass]="firstOfMessages ? 'margin-fix' : ''">
                <div 
                  *ngIf="firstOfMessages" 
                  class="user-name"
                  (click)="openMemberDetails(message.user.id, 1)">
                  {{ message.user.username }}
                  <div class="post-date-first">
                    {{ isToday(message.postDate) ? 'Today at ' : '' }}
                    {{ isYesterday(message.postDate) ? 'Yesterday at ' : '' }}
                    {{ isLongAgo(message.postDate) ? (message.postDate | date:'dd/MM/yyyy') : '' }}
                    {{ message.postDate | date:'h:mm a' }}
                  </div>
                </div>

                <user-details 
                  *ngIf="currentMemberDetails == message.user.id && detailsMode == 1"
                  (clickOutside)="closeMemberDetails($event)"
                  [centered]="true"
                  [currentUser]="currentUser"
                  [user]="message.user">
                </user-details>

                <div 
                  *ngIf="message.id != messageToEditId" 
                  class="content-fix"
                  [ngClass]="firstOfMessages ? 'first-content-fix' : ''">
                  <message-content 
                    [currentUser]="currentUser" 
                    [messageContent]="message.content"
                    [usernames]="usernames"
                    (onJoinCallback)="handleJoinCallback($event)">
                  </message-content>
                </div>

                <div *ngIf="message.id == messageToEditId">
                  <textarea 
                    class="edit-input" 
                    cdkTextareaAutosize 
                    [value]="messageToEditValue"
                    (input)="onEditValueChange($event)"
                    (keydown.escape)="exitEditMode($event)"
                    (keydown.enter)="onEditSubmit($event)"></textarea>
                    <div class="edit-info">
                      escape to <a (click)="exitEditMode($event)" class="edit-action">cancel</a> 
                      • enter to <a (click)="onEditSubmit($event)" class="edit-action">save</a>
                    </div>
                </div>

                <message-reactions
                  [currentUser]="currentUser"
                  [message]="message">
                </message-reactions>

                <div class="reactions-picker-container">
                  <emoji-mart 
                    class="emoji-mart" 
                    *ngIf="showReactionsPicker && message.id == messageToReact"
                    [@onMartToggle]
                    (emojiSelect)="sendReaction(message.id, $event)"
                    [showSingleCategory]="true"
                    [isNative]="true"
                    [darkMode]="true"
                    [enableSearch]="false"
                    color="#f3f4f5"
                    [useButton]="true"
                    (clickOutside)="closeReactionsMart($event)">
                  </emoji-mart>
                </div>

                <div 
                  class="message-actions" 
                  *ngIf="message.id != messageToEditId"
                  [ngStyle]="{ 'display': message.id == messageToReact ? 'block' : ''  }">
                  <i 
                    matTooltip="Add Reaction"
                    matTooltipPosition="above"
                    class="fa-solid fa-face-grin-beam action-btn"
                    (click)="toggleReactionsMart(message.id)"
                    [ngStyle]="{ 'background-color': message.id == messageToReact ? '#3C3E43' : ''  }"></i>
                  <i
                    *ngIf="isPermittedToSendMessages()"
                    matTooltip="Reply"
                    matTooltipPosition="above"
                    class="fa-solid fa-reply action-btn"
                    (click)="onReply(message)"></i>
                  <i 
                    *ngIf="message.user.id == currentUser?.id"
                    matTooltip="Edit"
                    matTooltipPosition="above"
                    class="fa-solid fa-pen action-btn" 
                    (click)="onEdit(message)"></i>
                  <i 
                    *ngIf="message.user.id == currentUser?.id"
                    matTooltip="Delete"
                    matTooltipPosition="above"
                    class="fa-solid fa-trash-can action-btn" 
                    style="color: #F23F42;"
                    (click)="openConfirmDelete(message)"></i>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div 
          id="target" 
          class="end-space"
          [ngStyle]="{ 'height': messageToReply ? '30px' : '15px' }">
          {{ scrollToLastMessage() }}
        </div>
      </div>
      <div class="bottom-section">

        <div 
          class="input-container"
          [ngStyle]="{ 'border-radius': messageToReply ? '0 0 8px 8px': '8px' }">
          
          <div
            *ngIf="showUsersToMention"
            class="users-to-mention">
              <h6>MEMBERS</h6>
              <div 
                *ngFor="let user of usersToMentionFiltered"
                class="single-user-to-mention"
                (click)="mentionUser(user.username)">
                <user-avatar 
                  [userId]="user.id" 
                  class="mention-avatar"
                  [username]="user.username"/>
                {{ user.username }}
              </div>
          </div>
          
          <div
            *ngIf="messageToReply" 
            class="replying-tab">
            Replying to 
            <div class="replying-username">
              {{ messageToReply.user.username }}
            </div>
            <i 
              (click)="cancelReply()"
              class="fa-solid fa-circle-xmark cancel-reply-btn"></i>
          </div>

          <textarea 
            *ngIf="currentUser && chatChannel"
            class="chat-input" 
            cdkTextareaAutosize 
            [placeholder]="isPermittedToSendMessages() ? 'Message #' + chatChannel.name : 'You do not have permission to send messages in this channel.'"
            [value]="messageValue"
            [disabled]="!isPermittedToSendMessages()"
            (input)="onValueChange($event)"
            (keydown.enter)="onSubmit($event)">
          </textarea>
          <div 
            class="fake-input"
            [innerHTML]="fakeInputValue">
          </div>

          <div 
            *ngIf="isPermittedToSendMessages()"
            class="gif-picker"
            (click)="toggleGifPicker()">GIF</div>
          <div
            *ngIf="showGifPicker"
            [@onMartToggle] 
            (clickOutside)="closeGifPicker($event)"
            class="gif-mart">
            <div class="mart-header">
              <div class="input-container">
                <input 
                  [(ngModel)]="searchTerm"
                  class="gif-search-input"
                  placeholder="Search Giphy"
                  (input)="search($event)"/>
                <mat-icon
                  class="search-btn"
                  (click)="search()">
                  search
                </mat-icon>
              </div>
            </div>
            <div 
              class="results-container"        
              infiniteScroll
              [infiniteScrollDistance]="1"
              (scrolled)="onGifMartScroll()"
              [scrollWindow]="false">
              <div>
              <div 
                *ngFor="let result of _giphyService.searchResults$ | async; let i = index;"
                class="single-gif"
                (click)="sendGif(result.images)">
                  <img
                    *ngIf="i % 2 == 0" 
                    [src]="result.images.fixed_width.url" 
                    [alt]="result.title"/>
              </div>
              </div>
              <div>
              <div 
                *ngFor="let result of _giphyService.searchResults$ | async; let i = index;"
                class="single-gif"
                (click)="sendGif(result.images)">
                  <img 
                    *ngIf="i % 2 != 0"
                    [src]="result.images.fixed_width.url" 
                    [alt]="result.title"/>
              </div>
              </div>
            </div>
          </div>

          <div 
            *ngIf="isPermittedToSendMessages()"
            class="picker-container"
            (click)="toggleEmojiPicker()">
            <div class="picker picker-input">
              😁
            </div>
          </div>
          <div class="emoji-container">
            <emoji-mart 
              class="emoji-mart" 
              *ngIf="showEmojiPicker"
              [@onMartToggle]
              (emojiSelect)="addEmojiToMessage($event)"
              [showSingleCategory]="true"
              [isNative]="true"
              [darkMode]="true"
              [enableSearch]="false"
              color="#f3f4f5"
              [useButton]="true"
              (clickOutside)="closeEmojiPicker($event)">
            </emoji-mart>
          </div>

        </div>
      </div>
    </div>
    <div *ngIf="showMembers && members?.length" class="members-container">
      <h6>OWNER  -  1</h6>
      <div 
        class="single-member"
        (click)="openMemberDetails(members![0].id, 0)">
        <user-avatar 
          [userId]="members![0].id" 
          class="member-avatar"
          [username]="members![0].username"/>
        {{ members![0].username }}
      </div>
      <h6 *ngIf="members!.length > 1">MEMBERS  - {{ members!.length - 1 }}</h6>
      <div *ngFor="let member of members; let i = index">
        <user-details 
          *ngIf="currentMemberDetails == member.id && detailsMode == 0"
          (clickOutside)="closeMemberDetails($event)"
          [currentUser]="currentUser"
          [user]="member">
        </user-details>
        <div 
          *ngIf="currentMemberOptions == member.id && isPermittedToKickMembers()" 
          class="member-options"
          (clickOutside)="closeMemberOptions($event)">
          <div 
            (click)="onKickMember(member.id)" 
            class="member-option-warn">
            Kick {{ member.username }}
          </div>
        </div>
        <div *ngIf="!member.isOwner">
          <div 
            class="single-member"
            (click)="openMemberDetails(member.id, 0)"
            (contextmenu)="onMemberRightClick(member.id)">
            <user-avatar 
              [userId]="member.id" 
              class="member-avatar"
              [username]="member.username"/>
            {{ member.username }}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
