<div class="container">
  <div class="top-bar">
    <div class="hashtag">
      #
    </div>
    <div class="channel-name" *ngIf="chatChannel">
      {{ chatChannel.name }}
    </div>
    <div 
      (click)="hideShowMembers()" 
      class="members-icon"
      [matTooltip]="showMembers ? 'Hide Member List' : 'Show Member List'">
      <mat-icon>people</mat-icon>
    </div>
  </div>
  <div class="flex" *ngIf="chatChannel">
    <div class="messages-container">
      <div class="messages-wrapper">
        <div class="hashtag-big">#</div>
        <h1>Welcome to #{{ chatChannel.name }}!</h1>
        <p>This is the start of the #{{ chatChannel.name }} channel.</p>
        <div *ngFor="let message of chatMessages; index as i" class="single-message">

          <div 
            *ngVar="chatMessages[i-1]?.user!.username != message.user.username || 
                    toDate(chatMessages[i-1]?.postDate!) != toDate(message.postDate) 
                    as firstOfMessages;" 
            class="single-message">
            <div 
              *ngIf="toDate(chatMessages[i-1]?.postDate!) != toDate(message.postDate)"
              class="date-hr">
              <hr/>
              {{ message.postDate | date:'d MMM y' }}
              <hr/>
            </div>

            <div class="message-content" [ngClass]="!firstOfMessages ? 'not-first' : 'first'">
              <div *ngIf="!firstOfMessages" class="post-date-not-first">
                {{ message.postDate | date:'h:mm a' }}
              </div>

              <div 
                *ngIf="firstOfMessages" 
                class="user-avatar">
                <i class="fa-brands fa-discord i-avatar" [ngClass]="true ? 'av-' + message.user.username[0].toLowerCase() : ''"></i>
              </div>

              <div [ngClass]="firstOfMessages ? 'margin-fix' : ''">
                <div *ngIf="firstOfMessages" class="user-name">
                  {{ message.user.username }}
                  <div class="post-date-first">
                    {{ isToday(message.postDate) ? 'Today at ' : '' }}
                    {{ isYesterday(message.postDate) ? 'Yesterday at ' : '' }}
                    {{ isLongAgo(message.postDate) ? (message.postDate | date:'dd/MM/yyyy') : '' }}
                    {{ message.postDate | date:'h:mm a' }}
                  </div>
                </div>

                <div 
                  *ngIf="message.id != messageToEditId" 
                  class="content-fix"
                  [ngClass]="firstOfMessages ? 'first-content-fix' : ''">
                  {{ message.content }}
                </div>

                <div *ngIf="message.id == messageToEditId">
                  <textarea 
                    class="edit-input" 
                    cdkTextareaAutosize 
                    [value]="messageToEditValue"
                    (input)="onEditValueChange($event)"
                    (keydown.escape)="exitEditMode($event)"
                    (keydown.enter)="onEditSubmit($event)"></textarea>
                    <div class="edit-info">
                      escape to <a (click)="exitEditMode($event)" class="edit-action">cancel</a> 
                      • enter to <a (click)="onEditSubmit($event)" class="edit-action">save</a>
                    </div>
                </div>

                <div 
                  class="message-actions" 
                  *ngIf="message.user.id == currentUser?.id && message.id != messageToEditId">
                  <i 
                    matTooltip="Edit"
                    matTooltipPosition="above"
                    class="fa-solid fa-pen action-btn" 
                    (click)="onEdit(message)"></i>
                  <i 
                    matTooltip="Delete"
                    matTooltipPosition="above"
                    class="fa-solid fa-trash-can action-btn" 
                    style="color: #F23F42;"
                    (click)="openConfirmDelete(message)"></i>
                </div>
                
              </div>
            </div>
          </div>
        </div>
        <div id="target" class="end-space">
          {{ scrollToLastMessage() }}
        </div>
      </div>
      <div class="bottom-section">
        <div class="input-container">
          <textarea 
            class="chat-input" 
            cdkTextareaAutosize 
            placeholder="Message #{{ chatChannel.name }}"
            [value]="messageValue"
            (input)="onValueChange($event)"
            (keydown.enter)="onSubmit($event)"></textarea>
        </div>
      </div>
    </div>
    <div *ngIf="showMembers" class="members-container">
      <h6>OWNER  -  1</h6>
      <div class="single-member">
        <i class="fa-brands fa-discord" [ngClass]="true ? 'av-' + members![0].username[0].toLowerCase() : ''"></i>
        {{ members![0].username }}
      </div>
      <h6 *ngIf="members!.length > 1">MEMBERS  - {{ members!.length - 1 }}</h6>
      <div *ngFor="let member of members;">
        <user-details 
          *ngIf="currentMemberDetails == member.id"
          (clickOutside)="closeMemberDetails($event)"
          [currentUser]="currentUser"
          [user]="member">
        </user-details>
        <div *ngIf="!member.isOwner">
          <div 
            class="single-member"
            (click)="openMemberDetails(member.id)">
            <i class="fa-brands fa-discord" [ngClass]="true ? 'av-' + member.username[0].toLowerCase() : ''"></i>
            {{ member.username }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
