<div class="container">
  <mat-icon 
    class="close"
    mat-dialog-close>
    close
  </mat-icon>
  <h1>Update your password</h1>
  <p>Enter your current password and a new password</p>
  <mat-dialog-content 
    *ngIf="passwordForm" 
    [formGroup]="passwordForm"
    class="content">
    <h2>CURRENT PASSWORD</h2>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>#</mat-label>
      <input
        matInput
        matNativeControl
        type="password"
        formControlName="oldPassword"
        [errorStateMatcher]="matcher"/>
      <mat-error *ngIf="passwordForm.controls['oldPassword'].hasError('required')">
        Current Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="passwordForm.controls['oldPassword'].hasError('doesNotMatch')">
        Current Password <strong>does not match</strong>
      </mat-error>
    </mat-form-field>
    <h2>NEW PASSWORD</h2>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>#</mat-label>
      <input
        matInput
        matNativeControl
        type="password"
        formControlName="newPassword"
        [errorStateMatcher]="matcher"/>
      <mat-error *ngIf="passwordForm.controls['newPassword'].hasError('required')">
        New Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <h2>CONFIRM NEW PASSWORD</h2>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>#</mat-label>
      <input
        matInput
        matNativeControl
        type="password"
        formControlName="confirmNewPassword"
        [errorStateMatcher]="matcher"/>
      <mat-error *ngIf="passwordForm.controls['confirmNewPassword'].hasError('required')">
        Confirm New Password is <strong>required</strong>
      </mat-error>
      <mat-error *ngIf="passwordForm.controls['confirmNewPassword'].hasError('doesNotMatch')">
        Passwords <strong>does not match</strong>
      </mat-error>
    </mat-form-field>
  </mat-dialog-content>
</div>
<div class="bottom-actions">
  <div 
    class="cancel"
    mat-dialog-close>
    Cancel
  </div>
  <button
    mat-raised-button
    color="primary"
    class="submit-btn"
    (click)="onSubmit()">
    Done
  </button>
</div>
