<div class="container">
  <div class="top-bar">
    <div *ngIf="directConversation && currentUser && interlocutor">
      <div class="interlocutor">
        <div class="at">
          @
        </div>
        {{ interlocutor.username }}
      </div>
    </div>
  </div>
  <div class="flex" *ngIf="directConversation && currentUser && interlocutor">
    <div class="messages-container">
      <div 
        class="messages-wrapper"
        #wrapper
        infiniteScroll
        [infiniteScrollUpDistance]="1"
        (scrolledUp)="onScroll()"
        [scrollWindow]="false">
        <i class="fa-brands fa-discord interlocutor-avatar" [ngClass]="true ? 'av-' + interlocutor.username[0].toLowerCase() : ''"></i>
        <h1>{{ interlocutor.username }}</h1>
        <p>This is the beginning of your direct message history with <strong>@{{ interlocutor.username }}</strong></p>
        <mat-progress-spinner *ngIf="loading" mode="indeterminate" [diameter]="40"></mat-progress-spinner>
        <div *ngFor="let message of orderByPostDate(directMessages); index as i" class="single-message">

          <div 
            *ngVar="directMessages[i-1]?.user!.username != message.user.username 
                    || toDate(directMessages[i-1]?.postDate!) != toDate(message.postDate)
                    || message.content.includes('<!replyToDirectMessage')
                    as firstOfMessages;" 
            class="single-message"
            [class.reply-message]="message.content.includes('<!replyToDirectMessage')">
            <div 
              *ngIf="toDate(directMessages[i-1]?.postDate!) != toDate(message.postDate)"
              class="date-hr">
              <hr/>
              {{ message.postDate | date:'d MMM y' }}
              <hr/>
            </div>

            <div 
              class="message-content" 
              [ngClass]="!firstOfMessages ? 'not-first' : 'first'"
              [class.message-to-reply]="message == messageToReply">
              <div *ngIf="!firstOfMessages" class="post-date-not-first">
                {{ message.postDate | date:'h:mm a' }}
              </div>

              <div 
                *ngIf="firstOfMessages" 
                class="user-avatar">
                <i class="fa-brands fa-discord i-avatar" [ngClass]="true ? 'av-' + message.user.username[0].toLowerCase() : ''"></i>
              </div>

              <div [ngClass]="firstOfMessages ? 'margin-fix' : ''">
                <div *ngIf="firstOfMessages" class="user-name">
                  {{ message.user.username }}
                  <div class="post-date-first">
                    {{ isToday(message.postDate) ? 'Today at ' : '' }}
                    {{ isYesterday(message.postDate) ? 'Yesterday at ' : '' }}
                    {{ isLongAgo(message.postDate) ? (message.postDate | date:'dd/MM/yyyy') : '' }}
                    {{ message.postDate | date:'h:mm a' }}
                  </div>
                </div>

                <div 
                  *ngIf="message.id != messageToEditId" 
                  class="content-fix"
                  [ngClass]="firstOfMessages ? 'first-content-fix' : ''">
                  <message-content 
                    [currentUser]="currentUser" 
                    [messageContent]="message.content"
                    (onJoinCallback)="handleJoinCallback($event)"
                    [usernames]="[currentUser.username, interlocutor.username]">
                  </message-content>
                </div>

                <div *ngIf="message.id == messageToEditId">
                  <textarea 
                    class="edit-input" 
                    cdkTextareaAutosize 
                    [value]="messageToEditValue"
                    (input)="onEditValueChange($event)"
                    (keydown.escape)="exitEditMode($event)"
                    (keydown.enter)="onEditSubmit($event)"></textarea>
                    <div class="edit-info">
                      escape to <a (click)="exitEditMode($event)" class="edit-action">cancel</a> 
                      • enter to <a (click)="onEditSubmit($event)" class="edit-action">save</a>
                    </div>
                </div>

                <message-reactions
                  [currentUser]="currentUser"
                  [message]="message">
                </message-reactions>

                <div class="reactions-picker-container">
                  <emoji-mart 
                    class="emoji-mart" 
                    *ngIf="showReactionsPicker && message.id == messageToReact"
                    [@onMartToggle]
                    (emojiSelect)="sendReaction(message.id, $event)"
                    [showSingleCategory]="true"
                    [isNative]="true"
                    [darkMode]="true"
                    [enableSearch]="false"
                    color="#f3f4f5"
                    [useButton]="true"
                    (clickOutside)="closeReactionsMart($event)">
                  </emoji-mart>
                </div>

                <div 
                  class="message-actions" 
                  *ngIf="message.id != messageToEditId"
                  [ngStyle]="{ 'display': message.id == messageToReact ? 'block' : ''  }">
                  <i 
                    matTooltip="Add Reaction"
                    matTooltipPosition="above"
                    class="fa-solid fa-face-grin-beam action-btn"
                    (click)="toggleReactionsMart(message.id)"
                    [ngStyle]="{ 'background-color': message.id == messageToReact ? '#3C3E43' : ''  }"></i>                 
                  <i
                    matTooltip="Reply"
                    matTooltipPosition="above"
                    class="fa-solid fa-reply action-btn"
                    (click)="onReply(message)"></i>    
                  <i 
                    *ngIf="message.user.id == currentUser?.id"
                    matTooltip="Edit"
                    matTooltipPosition="above"
                    class="fa-solid fa-pen action-btn" 
                    (click)="onEdit(message)"></i>
                  <i 
                    *ngIf="message.user.id == currentUser?.id"
                    matTooltip="Delete"
                    matTooltipPosition="above"
                    class="fa-solid fa-trash-can action-btn" 
                    style="color: #F23F42;"
                    (click)="openConfirmDelete(message)"></i>
                </div>
                
              </div>
            </div>
          </div>

        </div>
        <div 
          id="target" 
          class="end-space">
        </div>
          {{ scrollToLastMessage() }}
        </div>
      <div class="bottom-section">

        <div 
          class="input-container"
          [ngStyle]="{ 'border-radius': messageToReply ? '0 0 8px 8px': '8px' }">

          <div
            *ngIf="showUsersToMention"
            class="users-to-mention">
              <h6>MEMBERS</h6>
              <div 
                *ngFor="let user of [currentUser.username, interlocutor.username]"
                class="single-user-to-mention"
                (click)="mentionUser(user)">
                <i 
                  class="fa-brands fa-discord mention-avatar" 
                  [ngClass]="true ? 'av-' + user[0].toLowerCase() : ''">
                </i>
                {{ user }}
              </div>
          </div>

          <div
            *ngIf="messageToReply" 
            class="replying-tab">
            Replying to 
            <div class="replying-username">
              {{ messageToReply.user.username }}
            </div>
            <i 
              (click)="cancelReply()"
              class="fa-solid fa-circle-xmark cancel-reply-btn"></i>
          </div>
          
          <textarea 
            class="chat-input" 
            cdkTextareaAutosize 
            placeholder="Message #{{ interlocutor.username }}"
            [value]="messageValue"
            (input)="onValueChange($event)"
            (keydown.enter)="onSubmit($event)">
          </textarea>
          <div 
            class="fake-input"
            [innerHTML]="fakeInputValue">
          </div>

          <div 
            class="gif-picker"
            (click)="toggleGifPicker()">GIF</div>
          <div
            *ngIf="showGifPicker"
            [@onMartToggle] 
            (clickOutside)="closeGifPicker($event)"
            class="gif-mart">
            <div class="mart-header">
              <div class="input-container">
                <input 
                  [(ngModel)]="searchTerm"
                  class="gif-search-input"
                  placeholder="Search Giphy"
                  (input)="search($event)"/>
                <mat-icon
                  class="search-btn"
                  (click)="search()">
                  search
                </mat-icon>
              </div>
            </div>
            <div 
              class="results-container"        
              infiniteScroll
              [infiniteScrollDistance]="1"
              (scrolled)="onGifMartScroll()"
              [scrollWindow]="false">
              <div>
              <div 
                *ngFor="let result of _giphyService.searchResults$ | async; let i = index;"
                class="single-gif"
                (click)="sendGif(result.images)">
                  <img
                    *ngIf="i % 2 == 0" 
                    [src]="result.images.fixed_width.url" 
                    [alt]="result.title"/>
              </div>
              </div>
              <div>
              <div 
                *ngFor="let result of _giphyService.searchResults$ | async; let i = index;"
                class="single-gif"
                (click)="sendGif(result.images)">
                  <img 
                    *ngIf="i % 2 != 0"
                    [src]="result.images.fixed_width.url" 
                    [alt]="result.title"/>
              </div>
              </div>
            </div>
          </div>

          <div 
            class="picker-container"
            (click)="toggleEmojiPicker()">
            <div class="picker">
              😁
            </div>
          </div>
          <div class="emoji-container">
            <emoji-mart 
              [@onMartToggle]
              class="emoji-mart" 
              *ngIf="showEmojiPicker"
              (emojiSelect)="addEmojiToMessage($event)"
              [showSingleCategory]="true"
              [isNative]="true"
              [darkMode]="true"
              [enableSearch]="false"
              color="#f3f4f5"
              [useButton]="true"
              (clickOutside)="closeEmojiPicker($event)">
            </emoji-mart>
        </div>

      </div>
    </div>
  </div>
</div>