.base-container {
    background-color: #1E1F22;
    width: 100%;
    position: relative;
    height: 100%;
    overflow: hidden;
}

.row {
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

.primary-side-bar {
    width: 65px;
    height: 100%;
}

.secondary-side-bar {
    min-width: 230px;
    height: 100%;
    background-color: #2B2D31;
    border-top-left-radius: 10px;
}

.main-container {
    position: relative;
    flex-grow: 1;
    height: 100%;
    background-color: #313338;
}

.user-tab {
    position: absolute;
    background-color: #232428;
    height: 45px;
    width: 220px;
    bottom: 20px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 14px;
    font-weight: 500;
    z-index: 10;
}

.flex {
    display: flex;
    line-height: 35px;
}

user-avatar {
    color: #F3F4F5;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    margin-right: 8px;
}

.user-name {
    width: 130px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.options-icon {
    color: #B5BAC1;
    margin-left: auto;
    cursor: pointer;
    font-size: 16px;
    margin-right: 15px;
    margin-top: 8px;
}

    .options-icon:hover {
        color: #DADDE0;
    }
