<div class="base-container">
  <div class="row" [@settingsToggle]="settingsState ? 'open' : 'closed'">
    <div class="primary-side-bar">
      <app-chat-servers 
        [currentUser]="currentUser"
        (notificationsToPass)="fetchNotificationsFromServers($event)">
      </app-chat-servers>
    </div>
    <div class="secondary-side-bar">
      <app-chat-channels 
        *ngIf="router.url.includes('/chatserver')" 
        (members)="fetchUsersFromServer($event)"
        (onServerSettingsToggle)="toggleServerSettingsView($event)"
        [notifications]="notifications">
      </app-chat-channels>
      <app-direct-messages-list 
        *ngIf="router.url.includes('/directmessages') && currentUser" 
        [currentUser]="currentUser" 
        (rendered)="passUserToChild()"
        [notifications]="notifications">
      </app-direct-messages-list>
      <div class="user-tab">
        <div *ngIf="currentUser">
          <i 
            class="fa-brands fa-discord" 
            [ngClass]="true ? 'av-' + currentUser!.username[0].toLowerCase() : ''">
          </i>
          {{ currentUser.username }}
        </div>
      </div>
    </div>
    <div class="main-container">
      <app-chat-messages 
        *ngIf="currentRoute.route.includes('channel=')" 
        [currentUser]="currentUser" 
        [members]="members"
        (onJoinCallback)="refreshChatServers($event)">
      </app-chat-messages>
      <app-friends 
        *ngIf="currentRoute.route === '/directmessages'" 
        [currentUser]="currentUser">
      </app-friends>
      <app-direct-messages 
        *ngIf="currentRoute.route.includes('conversation=')" 
        [currentUser]="currentUser"
        (onJoinCallback)="refreshChatServers($event)">
      </app-direct-messages>
    </div>
  </div>
  <chat-server-settings 
    *ngIf="settingsState" 
    (onClose)="toggleServerSettingsView($event)">
  </chat-server-settings>
</div>