<div class="base-container">
  <div #sliderRef [class.keen-slider]="isMobile" class="row" [@settingsToggle]="serverSettingsState || userSettingsState ? 'open' : 'closed'">
    <div [class.keen-slider__slide]="isMobile" style="display: flex;">
      <div class="primary-side-bar">
        <app-chat-servers 
          [currentUser]="currentUser"
          [isMobile]="isMobile"
          (notificationsToPass)="fetchNotificationsFromServers($event)"
          (updateUser)="fetchUser($event)">
        </app-chat-servers>
      </div>
      <div class="secondary-side-bar" [class.mobile-secondary]="isMobile">
        <router-outlet name="secondary"></router-outlet>
        <voice-panel></voice-panel>
        <div class="user-tab">
          <div 
            *ngIf="currentUser"
            class="flex">
            <user-avatar 
              [userId]="currentUser.id" 
              class="user-avatar"
              [username]="currentUser.username"/>
            <div class="user-name">{{ currentUser!.username }}</div>
            <i 
              class="fa-solid fa-gear options-icon"
              matTooltip="User Settings"
              matTooltipPosition="above"
              (click)="toggleUserSettingsView($event)">
            </i>
          </div>
        </div>
      </div>
    </div>
    <div [class.keen-slider__slide]="isMobile" class="main-container">
      <router-outlet name="main"></router-outlet>
    </div>
  </div>
  <chat-server-settings 
    *ngIf="serverSettingsState" 
    [isMobile]="isMobile"
    (onClose)="toggleServerSettingsView($event)"
    [chatServer]="chatServerToPass">
  </chat-server-settings>
  <user-settings
    *ngIf="userSettingsState"
    [isMobile]="isMobile"
    [user]="currentUser"
    (onClose)="toggleUserSettingsView($event)"
    (onUserUpdate)="refreshUser($event)">
  </user-settings>
</div>

<!-- AUDIO -->
<audio style="display: none;" id="remoteAudio" #remoteAudio autoplay></audio>
<audio style="display: none;" id="joinSound" [src]="environment.joinSoundSrc" preload="auto"></audio>
<audio style="display: none;" id="leaveSound" [src]="environment.leaveSoundSrc" preload="auto"></audio>
<audio style="display: none;" id="muteSound" [src]="environment.muteSoundSrc" preload="auto"></audio>
<audio style="display: none;" id="unmuteSound" [src]="environment.unmuteSoundSrc" preload="auto"></audio>  
